<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Update Pasta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Enter Pasta Name" labelPlacement="floating" [(ngModel)]="e_name"
          label="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="e_desc" label="Description" labelPlacement="floating"
          placeholder="Enter Pasta Description">

        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" [(ngModel)]="e_url" label="Image URL"></ion-input>
        <ion-img slot="end" [src]="e_url"></ion-img>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="e_price" label="Price" labelPlacement="floating">
          <ion-select-option *ngFor="let price of arrPrice" [value]="price">{{price}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox labelPlacement="start" [(ngModel)]="e_spicy">Spicy</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-button expand="full" id="btnsubmit" (click)="updatepasta()">Update</ion-button>
        <ion-alert trigger="btnsubmit" header="Update Pasta" message="Data Succesfully updated"
          [buttons]="alertButtons" (click)="updatepasta()"></ion-alert>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
