<ion-app>
  <ion-router-outlet *ngIf="fullname" id="main-content"></ion-router-outlet>

  <ion-tabs *ngIf="fullname">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="storefront"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list">
        <ion-icon name="list"></ion-icon>
        <ion-label>List</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-menu *ngIf="fullname" auto-hide="true" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>   <!-- agar bisa menutup kembali -->
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/list">
            <ion-icon name="list" slot="start"></ion-icon>
            <ion-label>List</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/setting">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/about">
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pasta">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>Pasta</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cart">
            <ion-icon name="cart" slot="start"></ion-icon>
            <ion-label>Cart</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-item >
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-item>
  </ion-menu>

  <ion-content *ngIf="!fullname" class="ion-padding">
    <img src="https://ubaya.xyz/hybrid/miftah/pasta.jpg" />
    <ion-card>
       <ion-item>
          <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" />
       </ion-item>
       <ion-item>
          <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating" />
       </ion-item>
       <ion-button expand="block" (click)="login()">Login</ion-button>
    </ion-card>
  </ion-content>
 
</ion-app>
