<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list lines="full">
      <ion-item>
        <ion-text> Product List per {{today_ind()}} </ion-text>
        <ion-button [disabled]="is5daysYesterday" size="large" (click)="goYesterday()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>

        <ion-button size="large" (click)="goResetDate()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>

        <ion-button [disabled]="is5daysTomorrow" size="large" (click)="goTomorrow()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
        <ion-text> Product Name <b>{{product.productName}}</b> </ion-text>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      <ion-item>
        <ion-text> Product Price <b>Rp {{product.productPrice}}</b> </ion-text>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
        <ion-text> Quantity </ion-text>

        <ion-button size="medium" (click)="minus()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-text> {{qty}} </ion-text>
        <ion-button size="medium" (click)="plus()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      <ion-item>
        <ion-text> Total Amount <b>Rp {{quantity()}}</b> </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>