<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list lines="full">
      <ion-item>
        <ion-input
          (keyup)="checkValid()"
          labelPlacement="floating"
          label="Masukkan kode : "
          [(ngModel)]="couponcode"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-text [ngStyle]="{'color':textColor}"
          >Coupon code {{couponcode}} is {{strvalid}} you get {{discount}}%
          discount</ion-text
        >
      </ion-item>
      <!-- [*ngIf] jika nilai true maka memunculkan program dibawah -->
      <ion-item>
        <ion-img
          *ngIf="strvalid=='valid'"
          src="https://www.animatedimages.org/data/media/1103/animated-congratulation-image-0092.gif"
        ></ion-img>
      </ion-item>
    </ion-list>

    <ion-list *ngFor="let book of books">
      <ion-list-header>
        <ion-label><h1>{{book.title}}</h1></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Author : {{book.author}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Discount : {{book.discount}}%</ion-label>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'text-decoration': getTextStyle(book)}">Price : ${{book.price.toFixed(2)}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="book.discount > 0">Price : ${{getDiscountedPrice(book).toFixed(2)}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
        <ion-text> Product List per {{today_ind()}} </ion-text>
        <ion-button
          [disabled]="is5daysYesterday"
          size="large"
          (click)="goYesterday()"
        >
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>

        <ion-button size="large" (click)="goResetDate()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>

        <ion-button
          [disabled]="is5daysTomorrow"
          size="large"
          (click)="goTomorrow()"
        >
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
        <ion-text> Product Name <b>{{product.productName}}</b> </ion-text>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      <ion-item>
        <ion-text> Product Price <b>Rp {{product.productPrice}}</b> </ion-text>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
        <ion-text> Quantity </ion-text>

        <ion-button size="medium" (click)="minus()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-text> {{qty}} </ion-text>
        <ion-button size="medium" (click)="plus()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      <ion-item>
        <ion-text> Total Amount <b>Rp {{quantity()}}</b> </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
